@import "src/variables.scss";

/* Scrollable Layout */
.scrollable-content {
  overflow: auto;
  height: $scrollable-content-max-height;
}

/* CSS Grid - filters aria */
.grid-container-filters {
  display: grid;
  grid-template-columns: 2fr 1fr 0fr;
  grid-column-gap: 1em;
}

/* Responsive Layout */
@media only screen and (max-width: 768px) {
  .scrollable-content {
    height: $scrollable-content-max-height-responsive;
  }

  .grid-container-filters  {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    padding: 0.5em;
  }

  .filter {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.grid-container > div {}
